.catalog-main-container {
 /* border: 1px solid black; */
 padding-top: 50px;



 ul {
  width: 80%;
  list-style-type: none;
  background-color: whitesmoke;
  border-radius: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  gap: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
 }


 img {
  height: 200px;
  /* filter: invert(20%) sepia(33%) saturate(642%) hue-rotate(176deg) brightness(96%) contrast(90%); */
 }

 img:hover {
  cursor: pointer;
  opacity: 50%;
  /* filter: invert(44%) sepia(19%) saturate(677%) hue-rotate(153deg) brightness(96%) contrast(90%); */

 }
}