.book-info-main-container {
 color: #2d3d54;

 ul {
  list-style-type: none;
 }

 .book-info-contents-container {

  .book-container {
   position: relative;
   background-color: whitesmoke;
   border-radius: 20px;
   display: flex;
   width: 80%;
   margin: 0 auto;
   padding-left: 20px;
   padding-right: 20px;
   padding-bottom: 80px;
   padding-top: 20px;
   text-align: left;

   img {
    height: 350px;
    margin-top: 20px;
    margin-right: 50px;
    border: 1px solid black;
   }

   .highlighted-text {
    padding-left: 4px;
    background-color: #bfcfdc;
    /* background-color: #eae7e2; */
    width: 120px;
    font-size: 12px;
   }
  }

  .edit-button {
   position: absolute;
   right: 40px;
   bottom: 20px;
   height: 30px;
   width: 100px;
   border-radius: 20px;
   border: none;
   color: whitesmoke;
   background-color: #537787;
  }

  button:hover {
   cursor: pointer;
   background-color: #bfcfdc;
   color: #2d3d54;
  }
 }
}