.edit-book-main-container {
 color: #2d3d54;

 .edit-book-info-container {
  background-color: whitesmoke;
  border-radius: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  position: relative;

  img {
   height: 350px;
   margin-right: 100px;
   margin-left: 50px;
   /* filter: invert(44%) sepia(19%) saturate(677%) hue-rotate(153deg) brightness(96%) contrast(90%); */
  }

  .edit-book-info {
   display: flex;
   flex-direction: column;
   /* border: 1px solid black; */
   width: 500px;
   padding-top: 20px;

   input {
    margin-bottom: 20px;
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 5px;
    border: 2px solid transparent;
    color: #2d3d54
   }

   input:focus {
    outline: none;
    border: 2px solid #537787;
   }

   .edit-bttns-container {
    button {
     height: 30px;
     width: 100px;
     margin: 0 auto;
     margin-right: 20px;
     border-radius: 20px;
     border: none;
     color: whitesmoke;
     background-color: #537787;
    }

    button:hover {
     cursor: pointer;
     background-color: #bfcfdc;
     color: #2d3d54;
    }
   }


  }
 }

 .delete-bttn {
  position: absolute;
  right: 10px;
  bottom: 10px;
  height: 30px;
  width: 100px;
  border-radius: 20px;
  border: none;
  color: whitesmoke;
  background-color: #a74f5b;
 }

 .delete-bttn:hover {
  cursor: pointer;
  background-color: #d7ccd0;
  color: #a74f5b;
 }
}